<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container padding-bottom-3x mb-1">
    <!-- Alert-->

    <!-- Shopping Cart-->
    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
                <tr>
                    <th>Descripcion del Producto</th>
                    <th class="text-center">Cantidad</th>
                    <th class="text-center">Subtotal  </th>
                    <th class="text-center">Descuento</th>
                    <th class="text-center"><a class="btn btn-sm btn-outline-danger" href="#">Limpiar Carrito</a></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img src="https://i.blogs.es/e1fe2b/apple-macbook-pro-16/1366_2000.jpg" alt="Product"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">Apple MacBook Pro de 13 pulgadas Core i5 Retina 2,7 GHz (MF840LL/A), 8 GB de memoria, 256 GB unidad de estado sólido (renovada)</a></h4><span><em>Size:</em> 10.5</span><span><em>Color:</em> Dark Blue</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">BOB 4910.89</td>
                    <td class="text-center text-lg text-medium">BOB 18.00</td>
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img src="https://pisces.bbystatic.com/image2/BestBuy_US/images/products/5202/5202900_sd.jpg" alt="Product"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">Acer Chromebook 15 CB3-532-C42P, Intel Celeron N3060, pantalla HD de 15.6", 4GB LPDDR3, 16GB eMMC, gris granito, Google Chrome</a></h4><span><em>Size:</em> XL</span><span><em>Color:</em> Black</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control">
                                <option>1</option>
                                <option selected="">2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">BOB 2578.41</td>
                    <td class="text-center">—</td>
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
                <tr>
                    <td>
                        <div class="product-item">
                            <a class="product-thumb" href="#"><img src="https://images.ssstatic.com/auriculares-inalambricos-bluetooth-i8-tws-con-caja-de-carga-mini-auriculares-in-31718873z0-17252767.jpg" alt="Product"></a>
                            <div class="product-info">
                                <h4 class="product-title"><a href="#">Auriculares inalámbricos Bluetooth 5.0 integrados Dual Mic 3D estéreo Cancelación de ruido Auriculares con funda de carga Control táctil en los auriculares para iPhone/Samsung/Android/Apple Airpods</a></h4><span><em>Size:</em> -</span><span><em>Color:</em> Turquoise</span>
                            </div>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="count-input">
                            <select class="form-control">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </td>
                    <td class="text-center text-lg text-medium">BOB 200.00</td>
                    <td class="text-center">—</td>
                    <td class="text-center"><a class="remove-from-cart" href="#" data-toggle="tooltip" title="" data-original-title="Remove item"><i class="fa fa-trash"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <div class="column">
            <form class="coupon-form" method="post">
                <input class="form-control form-control-sm" type="text" placeholder="Codigo del cupon" required="">
                <button class="btn btn-outline-primary btn-sm"  href="#" type="submit">Anadir Tarjeta de Debito</button><br>
                <br>
                <br>
                <a class="btn btn-success" href="/user/payment">Anadir tarjeta de debito o credito</a>
            </form>
        </div>
        <div class="column text-lg">Total: <span class="text-medium">BOB 7.671,3</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="#"><i class="icon-arrow-left"></i>&nbsp;Seguir Comprando</a></div>
        <div class="column"><a class="btn btn-primary" href="#" data-toast="" data-toast-type="success" data-toast-position="topRight" data-toast-icon="icon-circle-check" data-toast-title="Your cart" data-toast-message="is updated successfully!">Actualizar Carrito</a><a class="btn btn-success" href="#">OK</a></div>
    </div>
</div>