<div class="card bg-dark text-white">
    
    <div class="card-body">
        <form (ngSubmit) = "create()">
            <div class="form-group row">
                <label for="orderId" class="col-form-label col-sm-2">ID de Orden</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="voucher.orderId" name="orderId">
                </div>
            </div>

            <div class="form-group row">
                <label for="paymentId" class="col-form-label col-sm-2">ID de Pago</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="voucher.paymentId" name="paymentId">
                </div>
            </div>


            <div class="form-group row">
                <label for="date" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="voucher.date" name="date">
                </div>
            </div>

            <div class="form-group row">
                <label for="total" class="col-form-label col-sm-2">Total</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="voucher.total" name="total">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button">Crear</button>
                </div>
            </div>

        </form>

    </div>
</div>
