<div class="card border-primary mb-3" >
    <div class="card-header">Comprobantes</div>
        <div class="card-body text-primary">
        <h5 class="card-title">Listado Comprobantes</h5>    
            
        <div class="my-2 text-left">
            <button class="btn btn-rounded btn-primary" type="button" [routerLink] = "['/listvoucher/form']">Crear Voucher</button>
        </div>    

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ID Orden</th>
                    <th>ID Pago</th>
                    <th>Fecha de Pedido</th>						
                    <th>Total</th>
                    <th>
                        editar
                    </th>
                    <th>
                        eliminar
                    </th>
                
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voucher of vouchers">
                    <td>{{ voucher.voucherId }}</td>
                    <td>{{ voucher.orderId }}</td>
                    <td>{{ voucher.paymentId }}</td>
                    <td>{{ voucher.date }}</td>                        
                    <td>{{ voucher.total }}</td>
                    <td>
                        <button type="button" name="editar" [routerLink]="['/listvoucher/form', voucher.voucherId]" class="btn btn-primary">editar</button>
                    </td>
                    <td>
                        <button type="button" name="eliminar" (click)='delete(voucher)' class="btn btn-danger btn-sm">eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
           
</div>