<form (ngSubmit)="editUser( edit )" #edit="ngForm">
    <div class="container rounded bg-white mt-5" >
        <div class="row">
            <div class="col-md-4 border-right">
            </div>
            <div class="col-md-8">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="text-right">Editar Perfil</h6>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><input type="text" class="form-control" ngModel #firstname="ngModel" name="firstname" placeholder="Nombre"></div>
                        <div class="col-md-6"><input type="text" class="form-control" ngModel #lastname="ngModel" name="lastname" placeholder="Apellido" ></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" ngModel #email="ngModel" name="email" placeholder="Email" ></div>
                        <div class="col-md-6"><input type="text" class="form-control" ngModel #phone="ngModel" name="phone" placeholder="Telefono" ></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><input type="text" class="form-control" ngModel #neighbour="ngModel" name="street" placeholder="Calle" ></div>
                        <div class="col-md-6">
                            <select class="form-control" name="neighbour" ngModel #neighbour="ngModel">
                                <option selected value="1">Miraflores</option>
                                <option selected value="2">Sopocachi</option>
                                <option selected value="3">Obrajes</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-9">
                            <input type="text" class="form-control" ngModel #reference="ngModel" name="reference" placeholder="Referencia" ></div>
                        <div class="col-md-3">
                            <input type="text" class="form-control"ngModel #number="ngModel" name="number" placeholder="Nro Domicilio" >
                        </div>
                    </div>
                    <div class="mt-5 text-right">
                        <button class="btn btn-primary profile-button" type="submit">Guardar cambios</button>
                        <button class="btn btn-primary profile-button" type="button" [routerLink]="['../profile']">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

