.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: #5cda9b;
    margin: 3px;
    box-shadow: none;
    border: none
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}